    <!-- <title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} | {{this}}{{/with}}</title> -->
      <title>{{{detag (or page.title defaultPageTitle)}}} | {{{page.attributes.company}}} {{{page.component.title}}}</title>
