<div class="toolbar" role="navigation">
<!-- {{> nav-toggle}} -->
<!-- {{#with site.homeUrl}}
<a href="{{relativize this}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}} -->
<!--  {{#with @root.page.componentVersion}}
  <a href="{{{relativize ./url}}}" class="home-link"</a>
  {{/with}} -->
  <!-- {{#with @root.page.componentVersion}}
  <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
  {{/with}} -->
  {{#with @root.page.componentVersion}}
  <a href="{{{relativize ./url}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}

{{> breadcrumbs}}
{{> page-versions}}
  {{#if (and page.fileUri (not env.CI))}}
  {{/if}}
</div>
